{
  "singleQuote": true,
  "arrowParens": "avoid",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": false
}
